@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap');
:root{
    --text: #e8f9e8;
    --background: #081e07;
    --primary: #98e59c;
    --secondary: #218384;
    --accent: #3c98ce;    
}
body {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    color: var(--text);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/*  Page  Setup */
.frontPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.scheduleSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.tracksSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

/* Text Setup */
h1 {
    font-size: 150px;
    letter-spacing: 30px;
    font-weight: 900;
    margin: 0;
    color: transparent;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: var(--text);
}
h2 {
    font-size: 100px;
    letter-spacing: 25px;
    font-weight: 900;
    margin: 0;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--text);
}
h3 {
    font-size: 50px;
    letter-spacing: 20px;
    font-weight: 900;
    margin: 0;
    color: transparent;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: var(--text);
}
.h3NotOutline {
    font-size: 50px;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: 900;
    letter-spacing: 20px;
}
h4 {
    font-size: 35px;
    font-family: 'Lexend Tera', sans-serif;
    margin-inline: 20px;
    font-weight: 900;
}
h5 {
    font-size: 30px;
    font-family: 'Lexend Tera', sans-serif;
    margin-inline: 7px;
    margin-block: 10px;
    font-weight: 700;
}
h6 {
    font-size: 20px;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: 400;
    margin-block: 5px;
}
.subtitle {
    font-size: 15px;
    font-family: 'Lexend Tera', sans-serif;
    margin-top: 25px;
    font-weight: 600;
}
.maxBold {
    font-weight: 900;
}
.strech {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scaleX(1.175);
}
.strech2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scaleX(1.2375);
}
.strech3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scaleX(1.35);
}

.greenOutline{
    -webkit-text-stroke-color: var(--primary);
}

/* Button */
.scheduleChange {
    background-color: transparent;
    color: var(--text);
    font-family: 'Lexend Tera', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-inline: 35px;
    padding-block: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 100px;
    border-color: var(--primary);
    letter-spacing: 5px;
    margin-top: 35px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.remove{
    position: absolute;
    display: none;
}
.scheduleChange:hover {
    cursor: pointer;
}
.scheduleBar {
    font-family: 'Lexend Tera', sans-serif;
    width: 75%;
    height: 75px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: var(--primary);
    padding-left: 60px;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-block: 17.5px;
}
.scheduleBar:first-of-type{
    margin-top: 35px;
}
.aquaBar{
    border-color: var(--secondary);
}
.blueBar{
    border-color: var(--accent);
}
.time {
    margin-right: 60px;
    position: absolute;
}
.centerItem{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

/* Track Section */
.trackType {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-block: 10px;
}
.track{
    text-align: center;
    width: 50%;
    margin-inline: 10px;
}
.greenText {
    color: var(--primary);
}
.secondaryText{
    color: var(--secondary);
}
.accentText{
    color: var(--accent);
}

footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 50px;
}

.discordLogo{
    width: 75px;
    height: 75px;
}
.discordLink {
    position: fixed;
    bottom: 25px;
    left: 25px;
    /* background-color: transparent;
    border: none;
    border-radius: 100px; */
    z-index: 100;
}
/* .discordLink:hover {
    cursor: pointer;
} */

.spacing {
    margin-block: 35px;
}

/* For Observer */
.hidden {
    opacity: 0%;
    filter: blur(5px);
    transition: all 1s;
}
.show{
    opacity: 100%;
    filter: blur(0px);

}